.App {
  text-align: center;
}
h1 {
  font-size: 75px;
}

.navBar {
  padding: 20px;
  font-size: 20px;
  background-color: black;
}

.delete {
  color: white;
  text-decoration: underline;
}

a {
  color: white;
}

.homeBtn {
  margin-top: 15px;
  padding-right: 5px;
}